.navbar {
  width: 100%;
  background-color: #f08080;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.navbar .links {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.navbar .link {
  text-align: center;
  text-decoration: none;
  padding: 1.25rem;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: #fff;
}

.navbar .link:hover {
  color: #fbc4ab;
}

.navbar .link.active {
  border-bottom: solid 5px #fbc4ab;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: #313030;
  background-color: #fbc4ab;
  text-decoration: none;
}

.navbar .logoIcon {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1rem;
  color: #313030;
  background-color: #fbc4ab;
  text-decoration: none;
  display: none;
}

@media screen and (width < 595px) {
  .navbar .logo {
    display: none;
  }

  .navbar .logoIcon {
    display: block;
  }
}

@media screen and (width <= 550px) {
  .navbar {
    position: fixed;
    top: 0;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
  }
}
